<!DOCTYPE html>
<head>
<title>Contact Me</title>
<link rel="stylesheet" href="/Content/contact.css">
</head>

<body>
<div class="container">
	<div class="row">
			<h1>contact me</h1>
	</div>
	<div class="row">
			<h4 style="text-align:center"></h4>
	</div>
	<div class="row input-container">
		<h2 class="major">Contact</h2>
		<form method="post" action="mailto:zzannat@my.centennialcollege.ca">
			<div class="fields">
				<div class="field half">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
			</div>
			<ul class="actions">
				<li><input type="submit" value="Send Message" class="primary" /></li>
				<li><input type="reset" value="Reset" /></li>
			</ul>
		</form>
	</div>
</div>
<body>
</html>